<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header class="header" th:fragment="header">
    <h1 class="header" th:text="${page_title}"></h1>
</header>

<div class="dropdown" th:fragment="menu-dropdown">
    <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Menu &#9776;
    </button>
    <ul class="dropdown-menu" aria-labelledby="menuButton">
        <li><a class="dropdown-item" href="#">Bookings</a></li>
        <li><a class="dropdown-item" href="#">Rooms</a></li>
        <li><a class="dropdown-item" href="#">Users</a></li>
    </ul>
</div>

<footer class="footer" th:fragment="footer">
    <em><span>Last refresh: </span><span th:text="${timestamp}"></span></em>
    <em><span>Commit: </span><span th:text="${git_commit_id}"></span></em>
</footer>

</body>
</html>